{% extends 'base.html.twig' %}

{% block title %}Hello LotController!{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function showPropositions(id, path){
            $.ajax({
                url: path,
                data:{
                    id:id
                },
                method:'post',
                dataType: 'json',
                success: function (reussite){
                    if(reussite.length!==0){
                        let content = '<table class="table table-bordered">'

                        jQuery.each(reussite, function(e){
                            content += '' +
                                '<tr>' +
                                '<td>' +
                                reussite[e]['nomClient'] +
                                '</td>' +
                                '<td>' +
                                reussite[e]['montant'] +
                                ' €</td>' +
                                '</tr>'
                        })
                        content += '</table>'

                        $.alert({
                            title: 'Liste des propositions du lot',
                            content: content,
                            type: 'black',
                            columnClass: 'm'
                        })
                    } else {
                        $.alert({
                            title: 'Aucune propositions pour ce lot.',
                            content: ' ',
                            type: 'black',
                            columnClass: 'm'
                        })
                    }

                },
                error: function (){
                    $.alert({
                        title: 'Oups... Une erreur est parvenue !',
                        content: ' ',
                        type: 'red',
                        columnClass:'m'
                    })
                }
            })
        }
    </script>

{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="display-4">
            LISTE DES LOTS
        </div>
        <hr>
        <p class="lead">
            <a href="{{ path('lot_new') }}" class="btn btn-secondary">AJOUTER UN LOT</a>
        </p>
    </div>

    <div class="container">
        <br>
        <table class="table table-active ">
            <thead>
            <th scope="col"></th>
            <th scope="col">Date début</th>
            <th scope="col">Date fin</th>
            <th scope="col">Statut</th>
            <th scope="col">Prix mini / prix estimé</th>
            <th scope="col" >Composition</th>
            </thead>
            {% for lot in listLot %}
                <tr>
                    <td>
                        <i class="fas fa-book-open" onclick="showPropositions({{ lot.ltIdLot }}, '{{ path('lot_props') }}')" title="Voir les visualisations"></i><br>
                    </td>
                    <td>{{ lot.ltIdLot }} {{ lot.ltDateDebut | date('d/m/Y') }}</td>
                    <td>{{ lot.ltDateFin | date('d/m/Y') }}</td>
                    <td>{{ lot.ltStatut }}</td>
                    <td>{{ lot.ltPrixMinimum }} € / {{ lot.ltPrixEstime }} €</td>
                    <td>
                        {% for comp in lot.composition %}
                            {{ comp.compIdproduit.protNom }} x{{ comp.compQuantite }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
